<h1>amh-con-tag</h1>

<button (click)="switchView()">Switch View</button>

<div class="opportunity-profile-page">
  <div class="left-content" *ngIf="separateFirstTab">
    <ng-container *ngTemplateOutlet="leftContent"></ng-container>
  </div>

  <app-amh-con-tab-group>
    <ng-container *ngIf="!separateFirstTab">
      <ng-container *ngTemplateOutlet="leftContent"></ng-container>
    </ng-container>
    <app-amh-con-tab label="label-2"> Tab Content 2 </app-amh-con-tab>
    <app-amh-con-tab label="label-3"> Tab Content 3 </app-amh-con-tab>
    <app-amh-con-tab label="label-4"> Tab Content 4 </app-amh-con-tab>
  </app-amh-con-tab-group>
</div>

<ng-template #leftContent>
  <app-amh-con-tab label="label-1"> Tab Content 1 </app-amh-con-tab>
</ng-template>
